  
 .highlight-card{
  width: 23.5%;
  border: 0.1rem solid gray;
 }
 .highlight-card h2{
 }
  .highlightcard-textbox {
    display: flex;
    color: black;
  }
 
  .highlightcard-contact-area {
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  img{
    max-width: 300px;
   
  }
