  .highlight-card{
  width: 23.5%;
  border: 0.1rem solid gray;
  background-color: white;
 }

 .highlight-card:hover{
  transition-duration: 0.5s;
  transform: scale(1.2);
 }
  .highlightcard-textbox {
    display: flex;
    color: black;
  }
  .highlight-card img{
    max-width: 447px;
    max-height: 300px;
    width: 100%;
  }
