body {
  margin: 0;
  padding:0;
  height: 100%;
  font-family: 'Airbnb Cereal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
@font-face {
  font-family: 'Airbnb Cereal';
  src: local('Airbnb Cereal Black'), url(./fonts/AirbnbCerealBlack.woff) format('woff');
  src: local('Airbnb Cereal Bold'), url(./fonts/AirbnbCerealBold.woff) format('woff');
  src: local('Airbnb Cereal Book'), url(./fonts/AirbnbCerealBook.woff) format('woff');
  src: local('Airbnb Cereal ExtraBold'), url(./fonts/AirbnbCerealExtraBold.woff) format('woff');
  src: local('Airbnb Cereal Light'), url(./fonts/AirbnbCerealLight.woff) format('woff');
  src: local('Airbnb Cereal Medium'), url(./fonts/AirbnbCerealMedium.woff) format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-area {
  background-image: url("./images/heroimage.jpg");
  background-repeat: no-repeat;
  background-position: center/center;
  background-size: cover;
  width: 100%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Search Form */
.searchformarea {
  background-color: black;
  color: white;
  width: 80%;
  opacity: 80%;
  margin-top: 11rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.searchform {
  width: 80%;
  margin: 1rem auto;
}
.searchformareatitle {
  padding-left: 1rem;
  margin-left: 0rem;
}

.searchbutton {
  background-color: red;
  color: white;
}

@media (min-width: 750px) {
  .searchformarea {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 0rem;
    padding-right:0;
    padding-top: 0;
    border: 1px solid white;
  }
  .searchform{
    width: 90%;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .searchformareatitle{
    padding-left: 0rem;
    margin-right: 0;
  }
  .searchform-first{
    display: flex;
    width: 100%;
  }
  .searchform-sale-location-home{
    display: flex;
    width: 70%;
  }
  .searchform-second{
    margin-top: 0rem;
    display: flex;
  }
  .searchbutton{
    width: 20%;
  } 
}

/* Search Form */
/* dropdown */
.sale-dropdown,
.location-dropdown,
.property-drowdown{
  width: 100%;
  height: 2rem;
}
.budget-dropdown,
.room-dropdown,
.size-dropdown{
  width: 40%;
  height: 2rem;
  margin-left: 1rem;
}
.size-room-fas{
  display: none;
}
@media(min-width:750px){
.sale-dropdown,
.location-dropdown,
.property-drowdown,
.budget-dropdown{
  width: 100%;
  height: 3rem;
  margin-left: 0;
}
.room-dropdown{
  width: 80%;
  height: 2rem;
  margin-left: 0rem;
}
.room-dropdown-max{
  margin-left: 1rem;
}
.dropdown-first-text{
  display: none;
}
.dropdown-second-text{
  margin-top: 0.5rem;
}
.dropdown-size-text{
  margin-left: 1rem;
}
.budget-option{
  display: flex;
}
.all-options{
  width: 50%;
  margin-bottom: 0;
}
.size-dropdown-menu{
  display: flex;
}
.room-dropdown-menu{
  display: flex;
  padding-right: 1rem;
}
.size-room-fas{
  margin-left: 0.5rem;
  display: inline;
}
}

/* dropdown /*

/* navigation */
.nav-container {
  background-color: LIGHTSEAGREEN;
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid azure;
}
.navbar-logo-container {
  display: flex;
  justify-content: space-around;
}
.navbar-logo {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0.1rem;
  margin-left: 2rem;
  color: aliceblue;
  justify-content: flex-start;
}
.nav-elements {
  font-weight: 600;
  list-style-type: none;
  display: none;
  transition: all 0.5s ease;
}
.nav-elements.active {
  background-color: LIGHTSEAGREEN;
  border-top: 0.1rem solid black;
  transition: all 0.5s ease;
}

.nav-elements.active li {
  padding-bottom: 0.5rem;
}
.nav-links {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 2rem;
}

.nav-elements li {
  text-align: center;
  margin: 15px auto;
}
.active {
  display: block;
  transition: all 0.5s ease;
}

.navigation-fas{
  color: white;
}

.menu-icon {
  justify-content: flex-end;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-logo {
    margin-top: 0;
  }
  .nav-elements {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    justify-content: flex-end;
  }
  .nav-elements li {
    text-align: center;
    margin: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}
/* navigation */


/* highligthed card && area */

.highlightedarea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.highlightcard {
  border: 1px solid black;
}
.highlightcard-textbox {
  display: flex;
}
.highlightcard-details {
}
.highlightcard-contact-area {
  margin-top: 7.5rem;
  margin-left: 2rem;
}

/* why card */

.why-plan-emlak-area{
  background-color: azure;
  padding-top: 2rem;
}
.why-card-container{
  display: flex;
  flex-direction: column;
}
.why-card{
  border: 1px solid aliceblue;
  color:aliceblue;
  background-color:lightseagreen;
  width: 45%;
  margin: 2rem auto;
}
.why-card-header,
.why-card-text,
.why-plan-emlak-text{
  text-align: center;
}

.why-plan-emlak-text{
  color: black;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.why-card-image{
  max-width: 100%;
}
.why-card-learn-more{
  text-align: center;
  font-weight: 700px;
}
@media(min-width:675px){
  .why-card-container{
    flex-direction: row;
  }
  .why-card{
    width: 40%;
  }
}


/* why card */


/* guide area */

.guidearea {
  background-image: url("./images/guidearea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.guide-buttons {
  width: 45%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.guide-button{
  background-color: lightseagreen;
  color: white;
  border: 1px solid azure;
  border-radius: 15%;
  padding: 1rem 1rem;
  margin: 1rem auto;
}
.guidearea-texts {
  width: 40%;
  padding-left: 3.9rem;
  color: seashell;
}
/* guide area */

/*contact area */
.contact-area {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
}
.contact-container {
  margin-top: 4rem;
}

.contact-head{
  text-align: center;
}

.contact-text {
  width: 100%;
  margin: 1rem auto;
  color: black;
}
.contact-form-area {
  background-color: azure;
  width: 80%;
  margin: 1rem auto;
  padding-left: 1.5rem;
  border-radius: 0.75rem;
  padding-top: 0.5rem;
  color: black;
}
.contact-form-area div {
  margin-top: 1rem;
}
.contact-button {
  margin: 2rem auto;
  padding: 1rem 1rem;
  color:azure;
  background-color: red;
  border: 1px solid azure;
  border-radius: 10%;
}
.about-input {
  line-height: 2rem;
}
.email-input,
.about-input,
.name-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 80%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.contact-image{
  display: none;
}

@media(min-width:675px){
  .contact-area{
   display: flex;
   flex-direction: row;
   height: 90vh;

  }
  .contact-image{
    width: 50%;
    height:auto;
    display:inline-block
  }
  .contact-container{
    width: 50%;
  }
}

/*contact area */
