body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-area {
  background-image: url("./images/heroimage.jpg");
  background-repeat: no-repeat;
  background-position: center/center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Search Form */
.searchformarea {
  background-color: black;
  color: white;
  width: 50%;
  opacity: 80%;
  margin-bottom: 3rem;
}
.searchformareatitle {
  padding-left: 1rem;
}
.searchform {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
}

.searchbutton {
  background-color: red;
  color: white;
}

#locationoptions,
#budgetoptions,
#homeoptions,
#saleoptions {
  width: 8rem;
  height: 2rem;
}

.min-max-room-options,
.min-max-size-options {
  display: flex;
}
.max-room-options,
.max-size-options {
  margin-left: 2rem;
}

i {
  color: white;
  margin-left: 1rem;
}
.min-size-button {
  background: none;
  color: aliceblue;
}
/* Search Form */

/* navigation */
.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: LIGHTSEAGREEN;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  opacity: 80%;
}
.inpage-nav-container {
  margin-left: 4rem;
  display: flex;
  margin-right: 1rem;
}

.inpage-nav-container a {
  margin-left: 1.5rem;
  justify-content: flex-end;
  text-decoration: none;
}
.link-nav-container {
  display: flex;
  width: 44%;
  justify-content: space-between;
}
.link-nav-container div {
  margin-left: 1.5rem;
}
/* navigation */

.guidearea {
  background-image: url("./images/guidearea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.guide-buttons{
  width: 45%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.guidearea-texts{
  width: 40%;
  padding-left: 3.9rem;
}
